body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color: #f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
  height: 10%;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height: 30px;
  background:#e8491d;
  border:0;
  padding:7px 20px 0px 20px;
  color:#ffffff;
  -webkit-appearance: button;
   -moz-appearance: button;
   appearance: button;

   text-decoration: none;
   color: initial;
}

.center{
  text-align: center;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
  margin: 0 auto;
  position:static;
}

.formcenter{
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}
.dark h3{
  text-align: center;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../bilder/bakgrunn.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:45px;
  margin-bottom:10px;
}

#showcase h2{
  margin-top:100px;
  font-size:35px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}
#showcase input[type="email"], input[type="password"]{
  padding:4px;
  height:25px;
  width:250px;
}


/* Newsletter */
#newsletter{
  left: 70%;
  posistion: absolute;
  padding:10px;
  padding-top: 0px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;
}


#newsletter form {
  margin: 0 auto;
  margin-top:15px;
}

#newsletter input[type="email"], input[type="password"]{
  padding:4px;
  height:25px;
  margin: 10px;
  width:250px;

}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

.titler {
  border: 1px solid black;
  display: inline-block;
}
#inbox {
  border: 1px solid black;
  width: 25%;
  height: 500px;

}
#inbox-titel {
  width: 25%;
}
#inbox-box {
  left: 25%;
  width: 75%;
  position: absolute;
}
#usynlig {
  opacity: 0;
    text-align: center;
}
#inbox-text {
  text-align: center;
}
.mail {
  width: 100%;
  border-bottom: 1px solid black;
  height: 100px;
  overflow:hidden;
}
#sisteMail {
  border-bottom: 0px;
}
.mail_tittel {
  text-align: center;
  font-size: 15px;
}
.infoMail {
  text-align: center;
}
#rammeMail {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 75%;
  left: 25%;
  position:absolute;
  top: 28.5%;
  height: 500px;

}
#mailJs1, #mailJs2, #mailJs3, #mailJs4, #mailJs5 {
  display: none;
  padding: 20px;
}
.mail:hover{
  background-color: gray;
}


/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}


#startfooter {
   position:absolute;
   bottom:0;
   width:97%;
}
.kunngjøringer{
  border: 2px solid;
  width: 70%;
  text-align: center;
  border-bottom: 2px solid;
  margin: 0 auto;
  border-radius: 25px;
}
.varsler{
  border-top: 2px solid #e8491d;
  text-align: left;
  display: inline-block;

}

h4{
  font-weight: bold;
}

 .badge {
  position: absolute;
  top: 10px;
  right: 35%;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}
.badgemail{
  position: absolute;
  top: 10px;
  right: 43.5%;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}
.datoleft{
  text-align: right;
  margin: 5px;
  float: right;

}
/* Min side styling */

#MS_innhold, #MS_top{
  padding-left: 30px;
}

#MS_top{
  padding-top: 30px;
  background-color: #e6e6e6;
}

, .MS_inline{
  width: 40vw;
  background-color: blue;
}

.avatar_bilde{
  width: 20vw;
}

#MS_innhold {
  background-color: #e6e6e6;
}

#MS_innhold a{
  text-decoration: none;
  color: black;
}

.MS_inline{
  display: inline-block;
}



footer{
  padding: 20px;
  margin-bottom: 0px;
  margin-top:10px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}



/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
