body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color: #f4f4f4;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
  height: 10%;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height: 30px;
  background:#e8491d;
  border:0;
  padding:7px 20px 0px 20px;
  color:#ffffff;
  -webkit-appearance: button;
   -moz-appearance: button;
   appearance: button;
   text-decoration: none;
   color: initial;
}

.center{
  text-align: center;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
  margin: 0 auto;
  position:static;
}

.formcenter{
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}

.dark h3{
  text-align: center;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Bakgrunnsbilde */
#bakgrunnsbilde{
  min-height:400px;
  background:url('../bilder/bakgrunn.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#bakgrunnsbilde h1{
  margin-top:100px;
  font-size:45px;
  margin-bottom:10px;
}

#bakgrunnsbilde h2{
  margin-top:100px;
  font-size:35px;
  margin-bottom:10px;
}

#bakgrunnsbilde p{
  font-size:20px;
}

#bakgrunnsbilde input[type="email"], input[type="password"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Sosiale medier */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:15px;
}

#boxes .box img{
  width:80px;
}

/* Mails */

#inbox {
  border: 1px solid black;
  width: 25%;
  height: 500px;
}

#inbox-titel {
  width: 25%;
}

#inbox-box {
  left: 25%;
  width: 75%;
  position: absolute;
}

#usynlig {
  opacity: 0;
  text-align: center;
}

#inbox-text {
  text-align: center;
}

.mail {
  width: 100%;
  border-bottom: 1px solid black;
  height: 100px;
  overflow:hidden;
}

#sisteMail {
  border-bottom: 0px;
}

.mail_tittel {
  text-align: center;
  font-size: 15px;
}

.infoMail {
  text-align: center;
}

#rammeMail {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 75%;
  left: 25%;
  position:absolute;
  top: 28.5%;
  height: 500px;
}

#mailJs1, #mailJs2, #mailJs3, #mailJs4, #mailJs5 {
  display: none;
  padding: 20px;
}

.mail:hover{
  background-color: gray;
}

/* Varsler */

.kunngjøringer{
  border: 2px solid;
  width: 70%;
  text-align: center;
  border-bottom: 2px solid;
  margin: 0 auto;
  border-radius: 25px;
}

.varsler{
  border-top: 2px solid #e8491d;
  text-align: left;
  display: inline-block;

}

h4{
  font-weight: bold;
}

.datoleft{
  text-align: right;
  margin: 5px;
  float: right;
}

/* Min side styling */

#MS_innhold, #MS_top{
  padding-left: 30px;
}

#MS_top{
  padding-top: 30px;
  background-color: #e6e6e6;
}

.avatar_bilde{
  width: 20vw;
}

#MS_innhold {
  background-color: #e6e6e6;
}

#MS_innhold a{
  text-decoration: none;
  color: black;
}

.MS_inline{
  display: inline-block;
}

/* Footer */
footer{
  padding: 20px;
  margin-bottom: 0px;
  margin-top:10px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}
